body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Example__header {
  padding: 0 16px;
}

.Example__heading {
  text-align: center;
  width: 300px;
}

.Example__reset-button {
  height: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 {
  
    position: relative;
    color:#e9c02c;
    text-align: center;
    text-shadow:2px 2px 1px #000000
  
}

.App p {
  display: inline-flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;

  word-wrap: break-all;
  overflow-wrap: break-word;
  width: 100%;
  min-height:30px;
  max-height: 250px;
  float:left;
  font-size:14px;
  font-weight:500;
  color:#ffc700;
  line-height:2px;
  line-height: 15px;
  text-shadow:1px 1px 1px #000000;
  background:#3c332f;
  border-radius:5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(44,62,80,0.10);
  margin:0 0 10px 0;
  /* padding:0px 9px 0 23px; */
}

.App button {
  background-size: contain;
  width:104px;
  height:26px;
  top:83px;
  right:30px;
  cursor: pointer;
  
  background-image: url('abandon.png');
  background-repeat: no-repeat;
  background-position: 0px center;
  border: none;
  background-color: rgba(255, 255, 255, 0)
}

.stats li {
  display: inline-flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;

  word-wrap: break-all;
  overflow-wrap: break-word;
  width: 100%;
  min-height:30px;
  max-height: 250px;
  float:left;
  font-size:14px;
  font-weight:500;
  color:#ffc700;
  line-height:2px;
  line-height: 15px;
  text-shadow:1px 1px 1px #000000;
  background:#3c332f;
  border-radius:5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(44,62,80,0.10);
  margin:0 0 10px 0;
  padding:0px 9px 0 23px;
}
.App input {
  width:100px;
  height:40px;
  position: relative;
  top:2px;
  float:left;
  color:#0c0c0b;
  font-size: 50;
  font-weight: 400;
  text-indent: 18px;
  /* text-shadow:1px 1px 1px #000000; */ 
  padding: 0 130px 0 0;
  margin-right: 10px;

  background:rgba(255, 255, 255, 0.767);

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  
  border:0px;
  box-shadow:none;
  outline:none;


  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance:none;
  appearance: none;
}

.Text {

}
.Text {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  word-wrap: break-all;
  overflow-wrap: break-word;
  /* width: 100%; */
  min-height:60px;
  /* max-height: 250px; */
  float:left;
  font-size:18px;
  /* font-weight:500; */
  color:#ffc700;
  line-height:2px;
  line-height: 20px;
  text-shadow:1px 1px 1px #000000;
  background:#3c332f;
  border-radius:5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(44,62,80,0.10);
  margin:0 0 10px 0;
  padding: 1rem 10rem;
}